/* Write your CSS here */
.commentmainbg {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.commentsappcontenetcontainer {
  display: flex;
  box-shadow: 0px 2px 0px 0px #cbd2d9;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .commentsappcontenetcontainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
  }
}

.heading {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
  padding-left: 10px;
}
.discription {
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #475569;
  padding-left: 10px;
}
.userinputcontainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  order: 0;
}
@media screen and (max-width: 768px) {
  .userinputcontainer {
    order: 1;
  }
}
.userinput {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}
.usertextarea {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
  border: 1px solid #cbd2d9;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}
.button {
  background-color: #0284c7;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.commentsimg {
  width: 200px;
  height: 180px;
}
.countcontainer {
  display: flex;
  padding-left: 10px;
}
.count {
  background-color: #0284c7;
  border: none;

  padding-left: 5px;
  padding-top: 2px;
  height: 18px;
  width: 18px;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto';
  border-radius: 5px;
}
.countname {
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #475569;
  padding-left: 10px;
}
.commentitemscon {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
